absl-py==2.3.0
blinker==1.9.0
click==8.3.0
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
filelock==3.18.0
Flask==3.1.2
fonttools==4.56.0
fsspec==2025.5.1
gunicorn==23.0.0
h5py==3.13.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
keras==3.10.0
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.1.0
networkx==3.4.2
numpy==2.2.3
opt_einsum==3.4.0
optree==0.15.0
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pgmpy==1.0.0
pillow==11.1.0
Pygments==2.19.1
pyparsing==3.2.1
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pytz==2025.1
rich==14.0.0
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
statsmodels==0.14.4
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.7.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.1
Werkzeug==3.1.3